<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">LISTA DE ACCESORIO</h3>
        {{#if accesorio}}
        <div class="col-md-3">
            <table class="table text-center" style="width: 1300px;">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>CODIGO</th>
                        <th>MARCA</th>
                        <th>DETALLE</th>
                        <th>PRECIO</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                          {{#each accesorio}}
                          <tr>
                            <td>{{nombre}}</td>
                            <td>{{codigo}}</td>
                            <td>{{merca}}</td>
                            <td>{{detalle}}</td>
                            <td>{{precio}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="/edit2/{{id}}" class="btn btn-primary p-2" >
                                        <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    <a href="/delete2/{{id}}" class="btn btn-danger p-2">
                                        <i class="fa-solid fa-trash"></i>
                                        </a>
                                </div>
                            </td>
                          </tr>
                          {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="5">Registro de Accesorio</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
            <div class="card text-center mx-auto" style="width: 350px;">
                <div class="card header">
                    <h3>Crear un nuevo Accesorio</h3>
                </div>
                <div class="card body">
                    <p>Presiona este boton para que puedas registrar a un accesorio en el sistema</p>
                    <a href="#" class="btn btn-primary">Ir a crear</a>
                </div>
            </div>
        {{/if}}
    </div>
</div>