<!-- src/views/libros/lista.hbs -->

<div class="container">
    <div class="row mt-5">
        <a href="/add" class="btn btn-primary p-2"> crear empleado </a>
        <h3 class="text-center text-uppercase p-2">Lista de empleados</h3>
        {{#if empleados}}
        <div class="row">
                        {{#each empleados}}
                          <tr>
                            <td>{{nombre}}</td>
                            <td>{{apellido}}</td>
                            <td>{{edad}}</td>
                            <td>{{correo_electronico}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="/edit/{{id}}" class="btn btn-primary p-2" >
                                        <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    <a href="/delete/{{id}}" class="btn btn-danger p-2">
                                        <i class="fa-solid fa-trash"></i>
                                        </a>
                                </div>
                            </td>
                          </tr>
                          {{/each}}
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>Debes crear un Empleado</h3>
            </div>
            <div class="card-body">
                <p>Presiona este botón para crear empledo</p>
                <a href="/add" class="btn btn-primary">Ir a crear</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>
